body {
  font-size: 16px;
  font-family: 'Delius Unicase', cursive;
  color: #000;
  background-color: #fff;
  margin-bottom: 40px;
}

.font_swash {
    font-family: 'Delius Swash Caps', cursive;
}

/*** HEADER ***/

.navbar {
  background-color: #fff;
  border: 0;
  margin-bottom: 0;
}

.name h1 {
  font-size: 3.5em;
}

.header-hr {
  height: 3px;
  background-color: #696969;
}

/*** MAIN CONTENT ***/

.jumbotron {
  background-image: url(../pictures/background.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
}

.welcome {
  font-weight: bold;
  text-shadow: 5px 5px 10px;
  font-size: 3em;
  color: #696969;
}

.centerme {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.featuredwork {
  font-size: 2em;
  color: #3f3f3f;
}

.myprojects {
  margin-top: 60px;
}

.project-tile {
  margin-top: 30px;
}

.project-tile .project {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.project-tile .project-img {
  height: 250px;
  width: 100%;
}

.project-tile .project:hover {
  cursor: pointer;
  box-shadow: 8px 8px 10px #696969;
}

.project-tile .project-name {
  margin-top: 15px;
  font-size: 1.2em;
}

.project-tile .github-link {
  font-size: 1em;
}

.github-link a,
.github-link a:hover {
  text-decoration: none;
  color: #3f3f3f;
}

.project-tile .read-more {
  position: absolute;
  width: 100%;
  color: #000;
  top: 0;
  left:0;
  background-color: #e4e4e4;
  padding: 10px 0;
  font-size: 1.2em;
  opacity: 0.7;
}

.project-hr {
  width: 50%;
  background-color: #696969;
  height: 1px;
}

/*** Modals ***/
.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  color: #3f3f3f;
}

/* MEDIA QUERIES */

@media (min-width: 992px) and (max-width: 1199px) {
  .project-tile .project-img {
    height: 300px;
  }

  .jumbotron {
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    height: 400px;
  }
}

@media (max-width:767px) {
  .name h1 {
    font-size: 1.8em;
  }

  .name h3 {
    font-size: 1.1em;
  }

  .jumbotron {
    background-image: url(../pictures/background_small.jpg);
    height: 400px;
  }

  .welcome {
    font-size: 6.5vw;
  }

  .featuredwork  {
    text-align: center;
    font-size: 1.5em;
  }

  .project-tile:nth-child(1) {
    margin-top: 15px;
  }

  .project-tile .project {
    max-width: 350px;
    margin: 0 auto;
  }

  .project-tile .project-img {
    width: 100%;
  }
}

@media (max-width: 576px) {
   .jumbotron {
     height: 300px;
  }
}
